# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Database files
*.db
videosummary.db

# Uploaded files
uploads/
downloads/

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Byte-compiled / optimized files
*.py[co]

# Logs and temp files
*.log
*.tmp